footer {
    background-color: #5F7161;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.about-me {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 80px 20px 20px 20px;
    color: white;
    font-weight: 300;
    max-width: 1320px;
}

.profile {
    display: flex;
    flex-wrap: wrap;
}

.description {
    flex: 3;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.profile .picture {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    aspect-ratio: 1/1;
    width: 250px;
    object-fit: cover;
    border-radius: 50%;
    margin: 20px;
}

.social {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    user-select: none;
    flex-wrap: wrap;
}

.social img {
    height: 50px;
    width: 50px;
}

.social div {
    margin: 30px 20px;
    display: flex;
    align-items: center;
    overflow: hidden;
    animation: retract 0.7s forwards;
}

.social div:hover {
    animation: expand 0.7s forwards;
}

.social span {
    flex: 1;
    text-align: center;
    margin: 0px 10px 0px 10px;
    padding: 0px 10px 0px 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

@keyframes expand {
    0% {
        width: 50px;
    }
    100% {
        width: 230px;
    }
}

@keyframes retract {
    0% {
        width: 230px;
    }
    100% {
        width: 50px;
    }
}

#notification {
    position: fixed;
    bottom: 50px;
    right: 50px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 10px;
    opacity: 0%;
    visibility: hidden;
}

@keyframes fade {
    0% {
        opacity: 0%;
    }
    50% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

/* mobile */
@media screen and (max-width: 660px) {
    .social {
        justify-content: center;
    }
    
    .profile {
        flex-direction: column-reverse;
    }
    .icon {
        width: 200px;
    }
    .description {
        flex: 1;
        overflow-y: scroll;
        max-height: 300px;
    }
}

.email span {
    font-size: 0.8em;
}